@charset "utf-8";
/* CSS Document */

/* video box */
.video-box iframe {
	width: 100%;
	height: 320px;
	border: 0px;
}
/* vimeo-video box */
.vimeo-video-box iframe {
	width: 100%;
	height: 320px;
	border: 0px;
}

/* Medium Devices, Desktops */
@media (max-width: 991px) {
}

/* Small Devices, Tablets */
@media (max-width: 767px) {
.vimeo-video-box iframe {
	height: 250px;
}
}

/* Extra Small Devices, Phones */
@media (max-width: 575px) {
.vimeo-video-box iframe {
	height: 190px;
}
}
